{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="modal fade" id="eliminarDocumentoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Dar de baja proveedor?
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Seguro que desea dar de baja al proveedor {{ proveedor.nombre }}?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <!--/deleteProveedor/{{proveedor.id}}-->
                <a class="btn btn-danger" href="{% url 'Usuarios:deleteProveedor' proveedor.id %}">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}